.h5p-isaac-button {
    color: lightgray;
    background-color: transparent;
    border: none;
    display: inline-block;
}
.h5p-isaac-button:hover {
    color: darkgray;
    cursor: pointer;
}
.h5p-isaac-button:focus {
    color: darkgray;
    outline: none;
}
.h5p-isaac-button:active {
    border: none;
    outline: none;
    color: gray;
}
.h5p-isaac-enter {
    display: inline-block;
    line-height: 1em;
    position: absolute !important;
    right: 0;
}
.h5p-isaac-enter:before {
    font-family: "H5PFontAwesome4";
    font-size: 3em;
    content: "\f149";
    display: inline-block;
    transform: rotate(90deg);
}
/*.h5p-isaac-check:before {*/
/*    font-family: "H5PFontAwesome4";*/
/*    font-size: 3em;*/
/*    content: "\f00c";*/
/*    color: #48b57e;*/
/*    display: inline-block;*/
/*}*/
.h5p-isaac-info {
    line-height: 1em;
}
.h5p-isaac-info:hover {
    color: green;
    cursor: pointer;
}
.h5p-isaac-info:before {
    font-family: "H5PFontAwesome4";
    content: '\f05a';
    font-size: 2em;
    display: inline-block;
    padding: 0;
    padding-left: 10px;
}
.h5p-isaac-info-show {
    animation-name: fadein;
    animation-duration: 2s;
}
.h5p-isaac-info-hide {
    animation-name: fadeout;
    animation-duration: 2s;
}
.h5p-isaac-info-hidden {
    display: none !important;
}
@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes fadeout {
    from {opacity: 1}
    to {opacity: 0}
}
