.h5p-isaac-feedback {
    border: none;
    position: relative;
    width: 85%;
    margin: 0;
    max-height: 0;
    overflow: hidden;
}
.h5p-isaac-feedback-text {
    padding-left: 7px;
    padding-right: 30px;
}
.h5p-isaac-feedback-correct {
    background-color: #ACEFC7;
}
.h5p-isaac-feedback-incorrect {
    background-color: #ffc0cb;
}
.h5p-isaac-feedback-expand {
    max-height: 100px; /* approx. 4 lines max TODO adapt to feedback size (feedback-text div height) */
    transition: max-height 1.5s linear;
}
.h5p-isaac-feedback-collapsed {
    max-height: 0;
    transition: max-height 0.25s linear;
}
.h5p-isaac-feedback-close {
    color: #000;
    font-size: 2em;
    line-height: 0;
    font-weight: bold;
    position: absolute;
    right: 5px;
    top: 12px;
}
.h5p-isaac-feedback-close:hover,
.h5p-isaac-feedback-close:focus {
    text-decoration: none;
    cursor: pointer;
}
