.h5p-isaac-feedback {
    font-size: 10pt;
    border: none;
    position: relative;
    width: 75%;
    margin: 0;
    max-height: 0;
    overflow: hidden;
}
.h5p-isaac-feedback-correct {
    background-color: #ACEFC7;
}
.h5p-isaac-feedback-incorrect {
    background-color: #ffc0cb;
}
.h5p-isaac-feedback-expand {
    max-height: 200px;
    transition: max-height 1.5s cubic-bezier(.75,.25,.25,.75);
}
.h5p-isaac-feedback-shrink {
    max-height: 0;
    transition: max-height 1.5s cubic-bezier(.75,.25,.25,.75);
}
.h5p-isaac-feedback-close {
    color: #000;
    font-size: 30px;
    line-height: 12pt;
    font-weight: bold;
    position: absolute;
    right: 1px;
    top: 1px;
}
.h5p-isaac-feedback-close:hover,
.h5p-isaac-feedback-close:focus {
    text-decoration: none;
    cursor: pointer;
}
