.h5p-isaac-button {
    color: lightgray;
    /*line-height: 0.25;*/
    background-color: transparent;
    border: none;
    /*border-radius: 0.5em;*/
    /*padding: 0.5em 1.25em;*/
    /*margin-left: 10px;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*display: inline-block;*/
}
.h5p-isaac-button:hover {
    color: darkgray;
    cursor: pointer;
}
.h5p-isaac-button:focus {
    color: darkgray;
    outline: none;
    /*outline: 5px solid white;*/
    /*outline-style: solid;*/
    /*outline-offset: -5px;*/
}
.h5p-isaac-button:active {
    border: none;
    outline: none;
    color: gray;
}
.h5p-isaac-enter:before {
    font-family: "H5PFontAwesome4";
    font-size: 3em;
    content: "\f149";
    /*content: "\f1d8"; !* paper airplane *!*/
    display: inline-block;
    transform: rotate(90deg);
    /*position: absolute;*/
    /*right: 115px;*/
    /*bottom: 25px;*/
    /*padding-right: 0.5em;*/
}
/*.h5p-isaac-check:before {*/
/*    font-family: "H5PFontAwesome4";*/
/*    font-size: 3em;*/
/*    content: "\f00c";*/
/*    color: #48b57e;*/
/*    display: inline-block;*/
/*}*/
.h5p-isaac-info:before {
    font-family: "H5PFontAwesome4";
    content: '\f05a';
    font-size: 3em;
    display: inline-block;
    margin-left: 25px;
    animation-name: fadein;
    animation-duration: 2s;
}
.h5p-isaac-info:focus:after {
    color: dimgray;
}
.h5p-isaac-info-show:after {
    animation-name: fadeout;
    animation-duration: 2s;
    visibility: visible !important;
}
.h5p-isaac-info-hidden {
    display: none !important;
}
.h5p-isaac-info:hover:after {
    color: dimgray;
    cursor: pointer;
}
@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes fadeout {
    from {opacity: 1}
    to {opacity: 0}
}
