.h5p-isaac-input {
    font-family: 'Source Sans Pro', 'Noto Sans', serif;
    color: #000;
    font-weight: 400;
    font-size: 12pt;
    width: 75%;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid lightgray;
    transition: all 0.5s ease-out;
    background-color: transparent;
    padding: 4px 0;
    margin-bottom: 0;
    display: inline-block !important;
    outline: none;
    user-select: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
.h5p-isaac-input:focus {
    border-bottom: 2px solid dimgray;
    outline: none;
}
.h5p-isaac-input:disabled {
    color: dimgray;
}
.h5p-isaac-input-correct {
    border-bottom: 2px solid #48b57e !important;
}
.h5p-isaac-input-incorrect {
    border-bottom: 2px solid #dc143c !important;
}
[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}
[contenteditable]:before {
    content: "\feff";
}
