.h5p-isaac-popup {
    border: none;
    position: relative;
    width: 85%;
    margin: 0;
    max-height: 0;
    overflow: hidden;
}
.h5p-isaac-popup-expand {
    max-height: 100px; /* approx. 4 lines max TODO adapt to feedback size (feedback-text div height) */
    transition: max-height 0.25s linear;
}
.h5p-isaac-popup-collapsed {
    max-height: 0;
    transition: max-height 0.25s linear;
}
.h5p-isaac-popup-text {
    padding-left: 7px;
    padding-right: 45px;
}
.h5p-isaac-popup-suggestion {
    background-color: #fed8b1;
}
.h5p-isaac-popup-correct {
    background-color: #ACEFC7;
}
.h5p-isaac-popup-incorrect {
    background-color: #ffc0cb;
}
.h5p-isaac-popup-button {
    color: dimgray;
    background-color: transparent;
    line-height: 1em;
    border: 0;
    padding: 0;
    display: inline-block;
}
.h5p-isaac-popup-button-yes {
    position: absolute;
    right: 25px;
    top: 5px;
}
.h5p-isaac-popup-button-no {
    position: absolute;
    right: 5px;
    top: 5px;
}
.h5p-isaac-popup-button:hover,
.h5p-isaac-popup-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.h5p-isaac-popup-button-yes:before {
    font-family: H5PFontAwesome4;
    content: '\f087'; /* hollow thumbs-up */
}
.h5p-isaac-popup-button-no:before {
    font-family: H5PFontAwesome4;
    content: '\f088'; /* hollow thumbs-down */
}